doctype 5
html(lang="en")
	head
		title=pageTitle
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/css/bootstrap.min.css")
		style body { padding-top:60px; }
		link(rel="stylesheet", href="/css/bootstrap-responsive.min.css")
		link(rel="stylesheet", href="/css/main.css")
	body
		
		div.navbar.navbar-fixed-top
			div.navbar-inner
				div.container
					a.brand Plant Harmony

		div.container	
			form.search
				input.search-query(type="search", placeholder="Search")

			ul.unstyled.plant-list

	script#plant-list-item-tmpl(type="text/x-jquery-tmpl")
		li 
			div.plant-item
				a(href="#${name}")
					img.thumbnail(src="/images/plants/thumbs/${image}")
					div
						h3 ${name}
						p ${type}


	script(type="text/javascript", src="/js/jquery-1.7.1.min.js")
	script(type="text/javascript", src="/js/jquery.tmpl.min.js")
	script(type="text/javascript", src="/js/bootstrap.js")
	script(type="text/javascript", src="/js/underscore-min.js")
	script(type="text/javascript", src="/js/backbone-min.js")
	script(type="text/javascript", src="/js/views/plantlistitemview.js")
	script(type="text/javascript", src="/js/views/plantcollectionview.js")
	script(type="text/javascript", src="/js/models/plantmodel.js")
	script(type="text/javascript", src="/js/models/plantcollection.js")

	script(type="text/javascript")
		$(function() {
			var view = new PlantCollectionView({el: $(".plant-list")});
			window.View = view;
		})




