extends layout

block title
	title The companion planting guide

block content
	div.container	
		div.search
			form.search
				input.search-query(type="search", placeholder="Search")

		ul.unstyled.plant-list
			each plant in plants
				li.plant-item
					a(href="/plants/#{plant.name}")
						img.thumbnail(src="/images/plants/#{plant.name.toLowerCase()}.jpg", alt="#{plant.name}")
						div
							h3 #{plant.name}
							p #{plant.type}