extends layout

block content
	div.container	
		div.search
			form.search
				input.search-query(type="search", placeholder="Search")

			div.details
				img.thumbnail(src="/images/plants/#{plant.name.toLowerCase()}.jpg")
				
				h2 #{plant.name}
				p.subtitle #{plant.type}
				
				p!=plant.description
				
				h3 Companions
				if plant.companions && plant.companions.length > 0
					ul.unstyled
						each companion in plant.companions
							li 
								if companion.match(/\$.+/)
									#{companion.substring(1)}
								else
									a(href="/plants/#{companion}") #{companion}
				else
					p.subtitle None

				h3 Foes
				if plant.foes && plant.foes.length > 0
					ul.unstyled
						each foe in plant.foes
							li 
								if foe.match(/\$.+/)
									#{foe.substring(1)}
								else
									a(href="/plants/#{foe}") #{foe}
				else
					p.subtitle none